body {
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p{
    margin: 0;
}
.auth-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.auth-image {
  max-width: calc(100% - 10px);
  max-height: calc(100vh - 10px);
  border-radius: 5%;
  margin: 5px;
  object-fit: cover;
}
.auth-body-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

